---
http_interactions:
- request:
    method: post
    uri: https://content.dropboxapi.com/2/files/upload_session/start
    body:
      encoding: UTF-8
      string: '123456789'
    headers:
      Authorization:
      - Bearer MOCK_AUTHORIZATION_BEARER
      Dropbox-Api-Arg:
      - "{}"
      Content-Type:
      - application/octet-stream
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Server-Response-Time:
      - '541'
      X-Dropbox-Request-Id:
      - 13abcdddf99a83c646d5853612b764ed
    body:
      encoding: ASCII-8BIT
      string: '{"session_id": "AAAAAAAAADdPKrdP-zZNFQ"}'
  recorded_at: Tue, 13 Feb 2018 21:17:48 GMT
- request:
    method: post
    uri: https://content.dropboxapi.com/2/files/upload_session/append_v2
    body:
      encoding: UTF-8
      string: Hello Dropbox!
    headers:
      Authorization:
      - Bearer MOCK_AUTHORIZATION_BEARER
      Dropbox-Api-Arg:
      - '{"cursor":{"session_id":"AAAAAAAAADdPKrdP-zZNFQ","offset":42}}'
      Content-Type:
      - application/octet-stream
  response:
    status:
      code: 409
      message: incorrect_offset/..
    headers:
      Content-Type:
      - application/json
      X-Dropbox-Request-Id:
      - 1cdb2b54516bb9a50995a710cba2ce99
    body:
      encoding: UTF-8
      string: '{"error_summary": "incorrect_offset/..", "error": {".tag": "incorrect_offset",
        "correct_offset": 9}}'
  recorded_at: Tue, 13 Feb 2018 21:17:49 GMT
recorded_with: VCR 3.0.3
