---
http_interactions:
- request:
    method: post
    uri: https://content.dropboxapi.com/2/files/upload_session/start
    body:
      encoding: UTF-8
      string: '123456789'
    headers:
      Authorization:
      - Bearer MOCK_AUTHORIZATION_BEARER
      Dropbox-Api-Arg:
      - "{}"
      Content-Type:
      - application/octet-stream
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Server-Response-Time:
      - '438'
      X-Dropbox-Request-Id:
      - f9b78b2bba0488a42ca0ee064f8600ea
    body:
      encoding: ASCII-8BIT
      string: '{"session_id": "AAAAAAAAADauiQ0frc9xHg"}'
  recorded_at: Tue, 13 Feb 2018 21:17:45 GMT
- request:
    method: post
    uri: https://content.dropboxapi.com/2/files/upload_session/append_v2
    body:
      encoding: UTF-8
      string: Olá Dropbox!
    headers:
      Authorization:
      - Bearer MOCK_AUTHORIZATION_BEARER
      Dropbox-Api-Arg:
      - '{"cursor":{"session_id":"AAAAAAAAADauiQ0frc9xHg","offset":9}}'
      Content-Type:
      - application/octet-stream
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Server-Response-Time:
      - '365'
      X-Dropbox-Request-Id:
      - 8f70becc631fa970c587089b5eebf1bf
    body:
      encoding: ASCII-8BIT
      string: 'null'
  recorded_at: Tue, 13 Feb 2018 21:17:46 GMT
- request:
    method: post
    uri: https://content.dropboxapi.com/2/files/upload_session/finish
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer MOCK_AUTHORIZATION_BEARER
      Dropbox-Api-Arg:
      - '{"cursor":{"session_id":"AAAAAAAAADauiQ0frc9xHg","offset":22},"commit":{"path":"/target.txt","mode":{".tag":"add"}}}'
      Content-Type:
      - application/octet-stream
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Server-Response-Time:
      - '844'
      X-Dropbox-Request-Id:
      - 578f12e060f87ab3844eb4016213e767
    body:
      encoding: ASCII-8BIT
      string: '{"name": "target.txt", "path_lower": "/target.txt", "path_display":
        "/target.txt", "id": "id:iWFsGCmi1sAAAAAAAAAAng", "client_modified": "2018-02-13T21:17:47Z",
        "server_modified": "2018-02-13T21:17:47Z", "rev": "122576c68d6", "size": 22,
        "content_hash": "2064faa877255c7097e19c8ce5daada411478d0bfb8ed57837eeaa53bd4a10b3"}'
  recorded_at: Tue, 13 Feb 2018 21:17:47 GMT
recorded_with: VCR 3.0.3
