---
http_interactions:
- request:
    method: post
    uri: https://content.dropboxapi.com/2/files/upload_session/start
    body:
      encoding: ASCII-8BIT
      string: Hola Dropbox!
    headers:
      Authorization:
      - Bearer MOCK_AUTHORIZATION_BEARER
      Dropbox-Api-Arg:
      - "{}"
      Content-Type:
      - application/octet-stream
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Server-Response-Time:
      - '296'
      X-Dropbox-Request-Id:
      - 4f7979a3489f206415fede4c69378c52
    body:
      encoding: ASCII-8BIT
      string: '{"session_id": "AAAAAAAAAHR3o_3us0Qz0A"}'
  recorded_at: Fri, 22 Jun 2018 15:13:08 GMT
- request:
    method: post
    uri: https://content.dropboxapi.com/2/files/upload_session/finish
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer MOCK_AUTHORIZATION_BEARER
      Dropbox-Api-Arg:
      - '{"cursor":{"session_id":"AAAAAAAAAHR3o_3us0Qz0A","offset":13},"commit":{"path":"/dropbox_api_fixtures/upload_by_chunks/file.txt","mode":{".tag":"add"},"autorename":true}}'
      Content-Type:
      - application/octet-stream
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Server-Response-Time:
      - '1257'
      X-Dropbox-Request-Id:
      - 2f50de190f0b8148abc7a34cbad29372
    body:
      encoding: ASCII-8BIT
      string: '{"name": "file (1).txt", "path_lower": "/dropbox_api_fixtures/upload_by_chunks/file
        (1).txt", "path_display": "/dropbox_api_fixtures/upload_by_chunks/file (1).txt",
        "id": "id:iWFsGCmi1sAAAAAAAAABAg", "client_modified": "2018-06-22T15:13:09Z",
        "server_modified": "2018-06-22T15:13:09Z", "rev": "1b4576c68d6", "size": 13,
        "content_hash": "6e50b8ff301198b6715ed02ece1ff8a9983c6e9aa71bc561e14e2c514d7868cd"}'
  recorded_at: Fri, 22 Jun 2018 15:13:09 GMT
recorded_with: VCR 3.0.3
