---
http_interactions:
- request:
    method: post
    uri: https://content.dropboxapi.com/2/files/upload_session/start
    body:
      encoding: ASCII-8BIT
      string: 'Test data

'
    headers:
      Authorization:
      - Bearer MOCK_AUTHORIZATION_BEARER
      Dropbox-Api-Arg:
      - "{}"
      Content-Type:
      - application/octet-stream
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Server-Response-Time:
      - '313'
      X-Dropbox-Request-Id:
      - 7fd3d32541b34c065e0b5f8c03090567
    body:
      encoding: ASCII-8BIT
      string: '{"session_id": "AAAAAAAAAHPGAufV5zATAQ"}'
  recorded_at: Fri, 22 Jun 2018 15:13:05 GMT
- request:
    method: post
    uri: https://content.dropboxapi.com/2/files/upload_session/finish
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer MOCK_AUTHORIZATION_BEARER
      Dropbox-Api-Arg:
      - '{"cursor":{"session_id":"AAAAAAAAAHPGAufV5zATAQ","offset":10},"commit":{"path":"/dropbox_api_fixtures/upload_by_chunks/file_io.txt"}}'
      Content-Type:
      - application/octet-stream
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Server-Response-Time:
      - '1878'
      X-Dropbox-Request-Id:
      - 46ed99db5a53c28597f8e613b994d869
    body:
      encoding: ASCII-8BIT
      string: '{"name": "file_io.txt", "path_lower": "/dropbox_api_fixtures/upload_by_chunks/file_io.txt",
        "path_display": "/dropbox_api_fixtures/upload_by_chunks/file_io.txt", "id":
        "id:iWFsGCmi1sAAAAAAAAABAQ", "client_modified": "2018-06-22T15:13:06Z", "server_modified":
        "2018-06-22T15:13:07Z", "rev": "1b3576c68d6", "size": 10, "content_hash":
        "709a5cf259366d6ca6b2fa4d3b53c02f5ce2b2764e9d580711e3ffd24d79f5e9"}'
  recorded_at: Fri, 22 Jun 2018 15:13:07 GMT
recorded_with: VCR 3.0.3
