---
http_interactions:
- request:
    method: post
    uri: https://api.dropboxapi.com/2/file_requests/create
    body:
      encoding: UTF-8
      string: '{"title":"Arizona, baby","destination":"/dropbox_api_fixtures/create_file_request/regular_file.txt"}'
    headers:
      Authorization:
      - Bearer MOCK_AUTHORIZATION_BEARER
      Content-Type:
      - application/json
  response:
    status:
      code: 409
      message: Conflict
    headers:
      Content-Type:
      - application/json
      X-Dropbox-Request-Id:
      - 318f3ca17c5b5ac268d5bb6409975432
      Content-Disposition:
      - attachment; filename='error'
    body:
      encoding: UTF-8
      string: '{"error_summary": "not_a_folder/...", "error": {".tag": "not_a_folder"}}'
  recorded_at: Wed, 20 Jun 2018 15:56:21 GMT
recorded_with: VCR 3.0.3
