---
http_interactions:
- request:
    method: post
    uri: https://api.dropboxapi.com/2/file_requests/create
    body:
      encoding: UTF-8
      string: '{"title":"Arizona, baby","destination":"/dropbox_api_fixtures/get_metadata/regular_file.txt"}'
    headers:
      Authorization:
      - Bearer MOCK_AUTHORIZATION_BEARER
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dropbox-Request-Id:
      - 6939ec05a1901ab8a67e5f44d2e072dd
      X-Server-Response-Time:
      - '956'
    body:
      encoding: ASCII-8BIT
      string: '{"id": "Rx0abkUQRYilC9AdzOl7", "url": "https://www.dropbox.com/request/Rx0abkUQRYilC9AdzOl7",
        "title": "Arizona, baby", "destination": "/dropbox_api_fixtures/get_metadata/regular_file.txt",
        "created": "2018-06-07T16:47:04Z", "is_open": true, "file_count": 0}'
  recorded_at: Thu, 07 Jun 2018 16:47:05 GMT
recorded_with: VCR 3.0.3
