---
http_interactions:
- request:
    method: post
    uri: https://api.dropboxapi.com/2/file_requests/create
    body:
      encoding: UTF-8
      string: '{"title":"Arizona, baby","destination":"/dropbox_api_fixtures/create_file_request/arizona_baby"}'
    headers:
      Authorization:
      - Bearer MOCK_AUTHORIZATION_BEARER
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dropbox-Request-Id:
      - c39608a55ceb1ba3c5c7b9fb5db1f36f
      X-Server-Response-Time:
      - '748'
    body:
      encoding: ASCII-8BIT
      string: '{"id": "54DE4hiEU81i4r6FoIQq", "url": "https://www.dropbox.com/request/54DE4hiEU81i4r6FoIQq",
        "title": "Arizona, baby", "destination": "/dropbox_api_fixtures/create_file_request/arizona_baby",
        "created": "2018-06-20T15:56:25Z", "is_open": true, "file_count": 0}'
  recorded_at: Wed, 20 Jun 2018 15:56:20 GMT
recorded_with: VCR 3.0.3
