---
http_interactions:
- request:
    method: post
    uri: https://api.dropboxapi.com/2/file_requests/create
    body:
      encoding: UTF-8
      string: '{"title":"Arizona, baby","destination":"/arizona_baby"}'
    headers:
      Authorization:
      - Bearer MOCK_AUTHORIZATION_BEARER
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dropbox-Request-Id:
      - 34b6cbf6f9d6c293433f4488fdc20694
      X-Server-Response-Time:
      - '902'
    body:
      encoding: ASCII-8BIT
      string: '{"id": "4B6sNUH4MOh7VvETO07m", "url": "https://www.dropbox.com/request/4B6sNUH4MOh7VvETO07m",
        "title": "Arizona, baby", "destination": "/arizona_baby", "created": "2018-03-02T04:30:53Z",
        "is_open": true, "file_count": 0}'
  recorded_at: Fri, 02 Mar 2018 04:30:54 GMT
recorded_with: VCR 4.0.0
