---
http_interactions:
- request:
    method: post
    uri: https://content.dropboxapi.com/2/files/get_thumbnail_batch
    body:
      encoding: UTF-8
      string: '{"entries":[{"format":"jpeg","size":"w64h64","mode":"strict","path":"/dropbox_api_fixtures/get_thumbnail_batch/unknown_file.jpg"}]}'
    headers:
      Authorization:
      - Bearer MOCK_AUTHORIZATION_BEARER
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Server-Response-Time:
      - '229'
      X-Dropbox-Request-Id:
      - 30270e40fb9c995c6effe8a74a5ed4ec
    body:
      encoding: ASCII-8BIT
      string: '{"entries": [{".tag": "failure", "failure": {".tag": "path", "path":
        {".tag": "not_found"}}}]}'
  recorded_at: Tue, 13 Feb 2018 05:02:16 GMT
recorded_with: VCR 4.0.0
