---
http_interactions:
- request:
    method: post
    uri: https://content.dropboxapi.com/2/files/get_thumbnail_batch
    body:
      encoding: UTF-8
      string: '{"entries":[{"format":"jpeg","size":"w64h64","mode":"strict","path":"/unknown_file.jpg"}]}'
    headers:
      Authorization:
      - Bearer MOCK_AUTHORIZATION_BEARER
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Server-Response-Time:
      - '239'
      X-Dropbox-Request-Id:
      - bce280ed30bc160192badc7cbabcea51
    body:
      encoding: ASCII-8BIT
      string: '{"entries": [{".tag": "failure", "failure": {".tag": "path", "path":
        {".tag": "not_found"}}}]}'
  recorded_at: Tue, 06 Feb 2018 06:23:26 GMT
recorded_with: VCR 4.0.0
