---
http_interactions:
- request:
    method: post
    uri: https://content.dropboxapi.com/2/files/upload_session/finish
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer MOCK_AUTHORIZATION_BEARER
      Dropbox-Api-Arg:
      - '{"cursor":{"session_id":"AAAAAAAAMISedrMSSFthew","offset":10},"commit":{"path":"/dropbox_api_fixtures/chunked_uploader/new_file.txt","mode":{".tag":"overwrite"}}}'
      Content-Type:
      - application/octet-stream
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Server-Response-Time:
      - '931'
      X-Dropbox-Request-Id:
      - 914799c4fec64d5f60db7ae39b5d481f
    body:
      encoding: ASCII-8BIT
      string: '{"name": "new_file.txt", "path_lower": "/dropbox_api_fixtures/chunked_uploader/new_file.txt",
        "path_display": "/dropbox_api_fixtures/chunked_uploader/new_file.txt", "id":
        "id:mqa21jtjXmAAAAAAAAAACw", "client_modified": "2017-09-30T19:03:23Z", "server_modified":
        "2017-09-30T19:03:23Z", "rev": "55d1550a0", "size": 10, "content_hash": "709a5cf259366d6ca6b2fa4d3b53c02f5ce2b2764e9d580711e3ffd24d79f5e9"}'
  recorded_at: Sat, 30 Sep 2017 19:10:13 GMT
recorded_with: VCR 3.0.3
