---
http_interactions:
- request:
    method: post
    uri: https://content.dropboxapi.com/2/files/upload_session/start
    body:
      encoding: ASCII-8BIT
      string: Test
    headers:
      Authorization:
      - Bearer MOCK_AUTHORIZATION_BEARER
      Dropbox-Api-Arg:
      - "{}"
      Content-Type:
      - application/octet-stream
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Server-Response-Time:
      - '382'
      X-Dropbox-Request-Id:
      - 36c060a474ad1dbf0c409df623d7b7f1
    body:
      encoding: ASCII-8BIT
      string: '{"session_id": "AAAAAAAAAFzyl9lc74QNQw"}'
  recorded_at: Fri, 22 Jun 2018 13:39:31 GMT
- request:
    method: post
    uri: https://content.dropboxapi.com/2/files/upload_session/append_v2
    body:
      encoding: ASCII-8BIT
      string: " dat"
    headers:
      Authorization:
      - Bearer MOCK_AUTHORIZATION_BEARER
      Dropbox-Api-Arg:
      - '{"cursor":{"session_id":"AAAAAAAAAFzyl9lc74QNQw","offset":4}}'
      Content-Type:
      - application/octet-stream
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Server-Response-Time:
      - '333'
      X-Dropbox-Request-Id:
      - bb976bc84256737448120665a26b8cc4
    body:
      encoding: ASCII-8BIT
      string: 'null'
  recorded_at: Fri, 22 Jun 2018 13:39:32 GMT
[...]
- request:
    method: post
    uri: https://content.dropboxapi.com/2/files/upload_session/finish
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer MOCK_AUTHORIZATION_BEARER
      Dropbox-Api-Arg:
      - '{"cursor":{"session_id":"AAAAAAAAAFzyl9lc74QNQw","offset":10},"commit":{"path":"/dropbox_api_fixtures/chunked_uploader/new_file.txt"}}'
      Content-Type:
      - application/octet-stream
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Server-Response-Time:
      - '1088'
      X-Dropbox-Request-Id:
      - 28e1ee85b0f76c2cca44e63f024d1bfb
    body:
      encoding: ASCII-8BIT
      string: '{"name": "new_file.txt", "path_lower": "/dropbox_api_fixtures/chunked_uploader/new_file.txt",
        "path_display": "/dropbox_api_fixtures/chunked_uploader/new_file.txt", "id":
        "id:iWFsGCmi1sAAAAAAAAAA0Q", "client_modified": "2018-06-15T15:36:49Z", "server_modified":
        "2018-06-15T15:36:50Z", "rev": "165576c68d6", "size": 10, "content_hash":
        "709a5cf259366d6ca6b2fa4d3b53c02f5ce2b2764e9d580711e3ffd24d79f5e9"}'
  recorded_at: Fri, 22 Jun 2018 13:39:34 GMT
recorded_with: VCR 3.0.3
