---
http_interactions:
- request:
    method: post
    uri: https://content.dropboxapi.com/2/files/upload_session/start
    body:
      encoding: ASCII-8BIT
      string: Test
    headers:
      Authorization:
      - Bearer MOCK_AUTHORIZATION_BEARER
      Dropbox-Api-Arg:
      - "{}"
      Content-Type:
      - application/octet-stream
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Server-Response-Time:
      - '326'
      X-Dropbox-Request-Id:
      - '0649af4b41e33462e0fdfe314e34b0db'
    body:
      encoding: ASCII-8BIT
      string: '{"session_id": "AAAAAAAAAFaJRbyAm7QqsA"}'
  recorded_at: Fri, 15 Jun 2018 16:07:21 GMT
- request:
    method: post
    uri: https://content.dropboxapi.com/2/files/upload_session/append_v2
    body:
      encoding: ASCII-8BIT
      string: " dat"
    headers:
      Authorization:
      - Bearer MOCK_AUTHORIZATION_BEARER
      Dropbox-Api-Arg:
      - '{"cursor":{"session_id":"AAAAAAAAAFaJRbyAm7QqsA","offset":4}}'
      Content-Type:
      - application/octet-stream
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Server-Response-Time:
      - '402'
      X-Dropbox-Request-Id:
      - '08d3e88477d19fbb37f58b108baef05b'
    body:
      encoding: ASCII-8BIT
      string: 'null'
  recorded_at: Fri, 15 Jun 2018 16:07:22 GMT
[...]
- request:
    method: post
    uri: https://content.dropboxapi.com/2/files/upload_session/finish
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer MOCK_AUTHORIZATION_BEARER
      Dropbox-Api-Arg:
      - '{"cursor":{"session_id":"AAAAAAAAAFaJRbyAm7QqsA","offset":10},"commit":{"path":"/dropbox_api_fixtures/chunked_uploader/new_file.txt","mode":{".tag":"add"}}}'
      Content-Type:
      - application/octet-stream
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Server-Response-Time:
      - '651'
      X-Dropbox-Request-Id:
      - ba12e9d4ab732af3b2137b1c3bf776f6
    body:
      encoding: ASCII-8BIT
      string: '{"name": "new_file.txt", "path_lower": "/dropbox_api_fixtures/chunked_uploader/new_file.txt",
        "path_display": "/dropbox_api_fixtures/chunked_uploader/new_file.txt", "id":
        "id:iWFsGCmi1sAAAAAAAAAA0Q", "client_modified": "2018-06-15T15:36:49Z", "server_modified":
        "2018-06-15T15:36:50Z", "rev": "165576c68d6", "size": 10, "content_hash":
        "709a5cf259366d6ca6b2fa4d3b53c02f5ce2b2764e9d580711e3ffd24d79f5e9"}'
  recorded_at: Fri, 15 Jun 2018 16:07:23 GMT
recorded_with: VCR 3.0.3
