---
http_interactions:
- request:
    method: post
    uri: https://content.dropboxapi.com/2/files/upload_session/start
    body:
      encoding: ASCII-8BIT
      string: Test
    headers:
      Authorization:
      - Bearer MOCK_AUTHORIZATION_BEARER
      Dropbox-Api-Arg:
      - "{}"
      Content-Type:
      - application/octet-stream
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Server-Response-Time:
      - '292'
      X-Dropbox-Request-Id:
      - 8a7e9fc76b857db6182de8f9272f1767
    body:
      encoding: ASCII-8BIT
      string: '{"session_id": "AAAAAAAAAFV-Iz4WagN-3w"}'
  recorded_at: Fri, 15 Jun 2018 15:50:26 GMT
- request:
    method: post
    uri: https://content.dropboxapi.com/2/files/upload_session/append_v2
    body:
      encoding: ASCII-8BIT
      string: " dat"
    headers:
      Authorization:
      - Bearer MOCK_AUTHORIZATION_BEARER
      Dropbox-Api-Arg:
      - '{"cursor":{"session_id":"AAAAAAAAAFV-Iz4WagN-3w","offset":4}}'
      Content-Type:
      - application/octet-stream
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Server-Response-Time:
      - '331'
      X-Dropbox-Request-Id:
      - ac7a2e760c400c7799a52b27402ffba0
    body:
      encoding: ASCII-8BIT
      string: 'null'
  recorded_at: Fri, 15 Jun 2018 15:50:26 GMT
[...]
- request:
    method: post
    uri: https://content.dropboxapi.com/2/files/upload_session/finish
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer MOCK_AUTHORIZATION_BEARER
      Dropbox-Api-Arg:
      - '{"cursor":{"session_id":"AAAAAAAAAFV-Iz4WagN-3w","offset":10},"commit":{"path":"/dropbox_api_fixtures/chunked_uploader/new_file.txt","mode":{".tag":"add"}}}'
      Content-Type:
      - application/octet-stream
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Server-Response-Time:
      - '756'
      X-Dropbox-Request-Id:
      - 0d74c32bde77e8ea9276c46afd43096d
    body:
      encoding: ASCII-8BIT
      string: '{"name": "new_file.txt", "path_lower": "/dropbox_api_fixtures/chunked_uploader/new_file.txt",
        "path_display": "/dropbox_api_fixtures/chunked_uploader/new_file.txt", "id":
        "id:iWFsGCmi1sAAAAAAAAAA0Q", "client_modified": "2018-06-15T15:36:49Z", "server_modified":
        "2018-06-15T15:36:50Z", "rev": "165576c68d6", "size": 10, "content_hash":
        "709a5cf259366d6ca6b2fa4d3b53c02f5ce2b2764e9d580711e3ffd24d79f5e9"}'
  recorded_at: Fri, 15 Jun 2018 15:50:28 GMT
recorded_with: VCR 3.0.3
