---
http_interactions:
- request:
    method: post
    uri: https://api.dropboxapi.com/2/files/list_folder
    body:
      encoding: UTF-8
      string: '{"recursive":false,"include_media_info":false,"include_deleted":false,"path":"/unexisting_folder"}'
    headers:
      Authorization:
      - Bearer MOCK_AUTHORIZATION_BEARER
      Content-Type:
      - application/json
  response:
    status:
      code: 409
      message: Conflict
    headers:
      Content-Type:
      - application/json
      X-Dropbox-Request-Id:
      - 3f59c6b27e4fd561b310867c580b3ffd
      Content-Disposition:
      - attachment; filename='error'
    body:
      encoding: UTF-8
      string: '{"error_summary": "path/not_found/", "error": {".tag": "path", "path":
        {".tag": "not_found"}}}'
  recorded_at: Fri, 11 May 2018 16:29:49 GMT
recorded_with: VCR 3.0.3
