---
http_interactions:
- request:
    method: post
    uri: https://api.dropboxapi.com/2/files/list_folder
    body:
      encoding: UTF-8
      string: '{"recursive":false,"include_media_info":false,"include_deleted":false,"path":""}'
    headers:
      Authorization:
      - Bearer MOCK_AUTHORIZATION_BEARER
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dropbox-Request-Id:
      - f86d0eb73307af8b8bf182d1de49d515
      X-Server-Response-Time:
      - '332'
    body:
      encoding: ASCII-8BIT
      string: '{"entries": [{".tag": "folder", "name": "dropbox_api_fixtures", "path_lower":
        "/dropbox_api_fixtures", "path_display": "/dropbox_api_fixtures", "id": "id:iWFsGCmi1sAAAAAAAAAABA"},
        {".tag": "folder", "name": "orders (dev)", "path_lower": "/orders (dev)",
        "path_display": "/orders (dev)", "id": "id:iWFsGCmi1sAAAAAAAAAAdQ"}, {".tag":
        "folder", "name": "Homework", "path_lower": "/homework", "path_display": "/Homework",
        "id": "id:iWFsGCmi1sAAAAAAAAAAoA"}, {".tag": "folder", "name": "Chicken Bones",
        "path_lower": "/chicken bones", "path_display": "/Chicken Bones", "id": "id:iWFsGCmi1sAAAAAAAAAAqA",
        "shared_folder_id": "3091964256", "sharing_info": {"read_only": false, "shared_folder_id":
        "3091964256", "traverse_only": false, "no_access": false}}, {".tag": "file",
        "name": "Get Started with Dropbox.pdf", "path_lower": "/get started with dropbox.pdf",
        "path_display": "/Get Started with Dropbox.pdf", "id": "id:iWFsGCmi1sAAAAAAAAAAAg",
        "client_modified": "2017-05-06T07:09:18Z", "server_modified": "2017-05-06T07:09:18Z",
        "rev": "1576c68d6", "size": 954166, "content_hash": "59a241924131f19e56aa9622fb23e1cb862ce6eace57b9fa5fdab0350e16e7ac"},
        {".tag": "file", "name": "photo.jpg", "path_lower": "/photo.jpg", "path_display":
        "/photo.jpg", "id": "id:iWFsGCmi1sAAAAAAAAAAcQ", "client_modified": "2017-09-16T08:33:28Z",
        "server_modified": "2017-09-16T08:36:38Z", "rev": "e0576c68d6", "size": 127795,
        "content_hash": "4c201265fcd92cc0344afe27b80ae3d2f958a811b4897dfba4ab83c816ce99ab"},
        {".tag": "file", "name": "img.jpg", "path_lower": "[...]
