---
http_interactions:
- request:
    method: post
    uri: https://content.dropboxapi.com/2/files/upload_session/start
    body:
      encoding: UTF-8
      string: Hello Dropbox!
    headers:
      Authorization:
      - Bearer MOCK_AUTHORIZATION_BEARER
      Dropbox-Api-Arg:
      - "{}"
      Content-Type:
      - application/octet-stream
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Server-Response-Time:
      - '444'
      X-Dropbox-Request-Id:
      - 537811b4c8352357a0fc96756e8bda16
    body:
      encoding: ASCII-8BIT
      string: '{"session_id": "AAAAAAAAADgumHDKoJwNYw"}'
  recorded_at: Tue, 13 Feb 2018 21:17:50 GMT
- request:
    method: post
    uri: https://content.dropboxapi.com/2/files/upload_session/finish
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer MOCK_AUTHORIZATION_BEARER
      Dropbox-Api-Arg:
      - '{"cursor":{"session_id":"AAAAAAAAADgumHDKoJwNYw","offset":14},"commit":{"path":"/Homework/math/Matrices.txt","mode":{".tag":"add"}}}'
      Content-Type:
      - application/octet-stream
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Server-Response-Time:
      - '839'
      X-Dropbox-Request-Id:
      - bf773df2cb90905e7b6fe48f682a464a
    body:
      encoding: ASCII-8BIT
      string: '{"name": "Matrices.txt", "path_lower": "/homework/math/matrices.txt",
        "path_display": "/Homework/math/Matrices.txt", "id": "id:iWFsGCmi1sAAAAAAAAAAoQ",
        "client_modified": "2018-02-13T21:17:50Z", "server_modified": "2018-02-13T21:17:51Z",
        "rev": "125576c68d6", "size": 14, "content_hash": "16dff8700700b9aa627e24bbf832940c084b41ade5c5d6fe5417963a547ed9c2"}'
  recorded_at: Tue, 13 Feb 2018 21:17:51 GMT
recorded_with: VCR 3.0.3
