---
http_interactions:
- request:
    method: post
    uri: https://content.dropboxapi.com/2/files/upload
    body:
      encoding: UTF-8
      string: Our country is a mess!
    headers:
      Authorization:
      - Bearer MOCK_AUTHORIZATION_BEARER
      Dropbox-Api-Arg:
      - '{"path":"/dropbox_api_fixtures/upload/another_file.txt","client_modified":"2016-12-25T12:00:00Z"}'
      Content-Type:
      - application/octet-stream
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Server-Response-Time:
      - '993'
      X-Dropbox-Request-Id:
      - f18acf8232bcf2d3252991beac3fa73d
    body:
      encoding: ASCII-8BIT
      string: '{"name": "another_file.txt", "path_lower": "/dropbox_api_fixtures/upload/another_file.txt",
        "path_display": "/dropbox_api_fixtures/upload/another_file.txt", "id": "id:iWFsGCmi1sAAAAAAAAAA6w",
        "client_modified": "2016-12-25T12:00:00Z", "server_modified": "2018-06-22T14:06:10Z",
        "rev": "198576c68d6", "size": 22, "content_hash": "c4621af84cda3cc672bf1824161618b81d9f3b24adef2d20f6bf5d471e93a37e"}'
  recorded_at: Fri, 22 Jun 2018 14:06:10 GMT
recorded_with: VCR 3.0.3
