---
http_interactions:
- request:
    method: post
    uri: https://content.dropboxapi.com/2/files/upload
    body:
      encoding: UTF-8
      string: Our country is a mess!
    headers:
      Authorization:
      - Bearer MOCK_AUTHORIZATION_BEARER
      Dropbox-Api-Arg:
      - '{"client_modified":"2016-12-25T12:00:00Z","path":"/dropbox_api_fixtures/upload/another_file.txt"}'
      Content-Type:
      - application/octet-stream
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Server-Response-Time:
      - '1736'
      X-Dropbox-Request-Id:
      - c5e655fa8c581d69db70498d32f6456c
    body:
      encoding: ASCII-8BIT
      string: '{"name": "another_file.txt", "path_lower": "/dropbox_api_fixtures/upload/another_file.txt",
        "path_display": "/dropbox_api_fixtures/upload/another_file.txt", "id": "id:iWFsGCmi1sAAAAAAAAAAlw",
        "client_modified": "2016-12-25T12:00:00Z", "server_modified": "2018-02-13T21:17:00Z",
        "rev": "11b576c68d6", "size": 22, "content_hash": "c4621af84cda3cc672bf1824161618b81d9f3b24adef2d20f6bf5d471e93a37e"}'
  recorded_at: Tue, 13 Feb 2018 21:17:01 GMT
recorded_with: VCR 3.0.3
