---
http_interactions:
- request:
    method: post
    uri: https://content.dropboxapi.com/2/files/upload
    body:
      encoding: UTF-8
      string: 'Test data

'
    headers:
      Authorization:
      - Bearer MOCK_AUTHORIZATION_BEARER
      Dropbox-Api-Arg:
      - '{"path":"/dropbox_api_fixtures/upload/file_io.txt"}'
      Content-Type:
      - application/octet-stream
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Server-Response-Time:
      - '716'
      X-Dropbox-Request-Id:
      - 53378ecc21b04321a8d62e461c66c15e
    body:
      encoding: ASCII-8BIT
      string: '{"name": "file_io.txt", "path_lower": "/dropbox_api_fixtures/upload/file_io.txt",
        "path_display": "/dropbox_api_fixtures/upload/file_io.txt", "id": "id:iWFsGCmi1sAAAAAAAAAA6Q",
        "client_modified": "2018-06-22T14:06:04Z", "server_modified": "2018-06-22T14:06:04Z",
        "rev": "194576c68d6", "size": 10, "content_hash": "709a5cf259366d6ca6b2fa4d3b53c02f5ce2b2764e9d580711e3ffd24d79f5e9"}'
  recorded_at: Fri, 22 Jun 2018 14:06:04 GMT
recorded_with: VCR 3.0.3
