---
http_interactions:
- request:
    method: post
    uri: https://api.dropboxapi.com/2/files/get_metadata
    body:
      encoding: UTF-8
      string: '{"path":"/dropbox_api_fixtures/upload/file.txt"}'
    headers:
      Authorization:
      - Bearer MOCK_AUTHORIZATION_BEARER
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dropbox-Request-Id:
      - 5fa6ea9f2e532e5589c92a188a4e1024
      X-Server-Response-Time:
      - '270'
    body:
      encoding: ASCII-8BIT
      string: '{".tag": "file", "name": "file.txt", "path_lower": "/dropbox_api_fixtures/upload/file.txt",
        "path_display": "/dropbox_api_fixtures/upload/file.txt", "id": "id:iWFsGCmi1sAAAAAAAAAA6A",
        "client_modified": "2018-06-22T14:06:07Z", "server_modified": "2018-06-22T14:06:07Z",
        "rev": "196576c68d6", "size": 13, "content_hash": "6e50b8ff301198b6715ed02ece1ff8a9983c6e9aa71bc561e14e2c514d7868cd"}'
  recorded_at: Fri, 22 Jun 2018 14:06:08 GMT
- request:
    method: post
    uri: https://content.dropboxapi.com/2/files/upload
    body:
      encoding: UTF-8
      string: Hallo Dropbox!
    headers:
      Authorization:
      - Bearer MOCK_AUTHORIZATION_BEARER
      Dropbox-Api-Arg:
      - '{"path":"/dropbox_api_fixtures/upload/file.txt","mode":{".tag":"update","update":"196576c68d6"},"autorename":true}'
      Content-Type:
      - application/octet-stream
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Server-Response-Time:
      - '704'
      X-Dropbox-Request-Id:
      - 7595ae42967110719c13ab8e07702535
    body:
      encoding: ASCII-8BIT
      string: '{"name": "file.txt", "path_lower": "/dropbox_api_fixtures/upload/file.txt",
        "path_display": "/dropbox_api_fixtures/upload/file.txt", "id": "id:iWFsGCmi1sAAAAAAAAAA6A",
        "client_modified": "2018-06-22T14:06:09Z", "server_modified": "2018-06-22T14:06:09Z",
        "rev": "197576c68d6", "size": 14, "content_hash": "a08cf7310b48da5822f42a39be4eebff13aff979b316bccc7da309ad6f00dd74"}'
  recorded_at: Fri, 22 Jun 2018 14:06:09 GMT
recorded_with: VCR 3.0.3
