---
http_interactions:
- request:
    method: post
    uri: https://content.dropboxapi.com/2/files/upload
    body:
      encoding: UTF-8
      string: 'Test data

'
    headers:
      Authorization:
      - Bearer MOCK_AUTHORIZATION_BEARER
      Dropbox-Api-Arg:
      - '{"path":"/dropbox_api_fixtures/upload/file.txt"}'
      Content-Type:
      - application/octet-stream
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Server-Response-Time:
      - '764'
      X-Dropbox-Request-Id:
      - 1b088b457fa5bd1954f8b60f561b8f55
    body:
      encoding: ASCII-8BIT
      string: '{"name": "file.txt", "path_lower": "/dropbox_api_fixtures/upload/file.txt",
        "path_display": "/dropbox_api_fixtures/upload/file.txt", "id": "id:iWFsGCmi1sAAAAAAAAAAzw",
        "client_modified": "2018-06-15T15:31:53Z", "server_modified": "2018-06-15T15:31:53Z",
        "rev": "163576c68d6", "size": 10, "content_hash": "709a5cf259366d6ca6b2fa4d3b53c02f5ce2b2764e9d580711e3ffd24d79f5e9"}'
  recorded_at: Fri, 15 Jun 2018 15:31:53 GMT
recorded_with: VCR 3.0.3
