---
http_interactions:
- request:
    method: post
    uri: https://api.dropboxapi.com/2/files/get_metadata
    body:
      encoding: UTF-8
      string: '{"path":"/dropbox_api_fixtures/upload/file.txt"}'
    headers:
      Authorization:
      - Bearer MOCK_AUTHORIZATION_BEARER
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dropbox-Request-Id:
      - a2e15f241ca9a28846319ca4ea24f9ed
      X-Server-Response-Time:
      - '220'
    body:
      encoding: ASCII-8BIT
      string: '{".tag": "file", "name": "file.txt", "path_lower": "/dropbox_api_fixtures/upload/file.txt",
        "path_display": "/dropbox_api_fixtures/upload/file.txt", "id": "id:iWFsGCmi1sAAAAAAAAAAlQ",
        "client_modified": "2018-02-13T21:16:57Z", "server_modified": "2018-02-13T21:16:57Z",
        "rev": "119576c68d6", "size": 13, "content_hash": "6e50b8ff301198b6715ed02ece1ff8a9983c6e9aa71bc561e14e2c514d7868cd"}'
  recorded_at: Tue, 13 Feb 2018 21:16:58 GMT
- request:
    method: post
    uri: https://content.dropboxapi.com/2/files/upload
    body:
      encoding: UTF-8
      string: Hallo Dropbox!
    headers:
      Authorization:
      - Bearer MOCK_AUTHORIZATION_BEARER
      Dropbox-Api-Arg:
      - '{"autorename":true,"mode":{".tag":"update","update":"119576c68d6"},"path":"/dropbox_api_fixtures/upload/file.txt"}'
      Content-Type:
      - application/octet-stream
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Server-Response-Time:
      - '890'
      X-Dropbox-Request-Id:
      - '0393853e4878f59016f61840adb06af9'
    body:
      encoding: ASCII-8BIT
      string: '{"name": "file.txt", "path_lower": "/dropbox_api_fixtures/upload/file.txt",
        "path_display": "/dropbox_api_fixtures/upload/file.txt", "id": "id:iWFsGCmi1sAAAAAAAAAAlQ",
        "client_modified": "2018-02-13T21:16:59Z", "server_modified": "2018-02-13T21:16:59Z",
        "rev": "11a576c68d6", "size": 14, "content_hash": "a08cf7310b48da5822f42a39be4eebff13aff979b316bccc7da309ad6f00dd74"}'
  recorded_at: Tue, 13 Feb 2018 21:16:59 GMT
recorded_with: VCR 3.0.3
