---
http_interactions:
- request:
    method: post
    uri: https://content.dropboxapi.com/2/files/upload
    body:
      encoding: UTF-8
      string: Hola Dropbox!
    headers:
      Authorization:
      - Bearer MOCK_AUTHORIZATION_BEARER
      Dropbox-Api-Arg:
      - '{"autorename":true,"mode":{".tag":"add"},"path":"/dropbox_api_fixtures/upload/file.txt"}'
      Content-Type:
      - application/octet-stream
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Server-Response-Time:
      - '1075'
      X-Dropbox-Request-Id:
      - 79c024ab9af04bd5f55527fcafa09eea
    body:
      encoding: ASCII-8BIT
      string: '{"name": "file (1).txt", "path_lower": "/dropbox_api_fixtures/upload/file
        (1).txt", "path_display": "/dropbox_api_fixtures/upload/file (1).txt", "id":
        "id:iWFsGCmi1sAAAAAAAAAAlg", "client_modified": "2018-02-13T21:16:55Z", "server_modified":
        "2018-02-13T21:16:56Z", "rev": "118576c68d6", "size": 13, "content_hash":
        "6e50b8ff301198b6715ed02ece1ff8a9983c6e9aa71bc561e14e2c514d7868cd"}'
  recorded_at: Tue, 13 Feb 2018 21:16:56 GMT
recorded_with: VCR 3.0.3
