---
http_interactions:
- request:
    method: post
    uri: https://content.dropboxapi.com/2/files/upload
    body:
      encoding: UTF-8
      string: Hola Dropbox!
    headers:
      Authorization:
      - Bearer MOCK_AUTHORIZATION_BEARER
      Dropbox-Api-Arg:
      - '{"path":"/dropbox_api_fixtures/upload/file.txt","mode":{".tag":"overwrite"},"autorename":true}'
      Content-Type:
      - application/octet-stream
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Server-Response-Time:
      - '1022'
      X-Dropbox-Request-Id:
      - fc15dce623231646340dfb050f5d95d7
    body:
      encoding: ASCII-8BIT
      string: '{"name": "file.txt", "path_lower": "/dropbox_api_fixtures/upload/file.txt",
        "path_display": "/dropbox_api_fixtures/upload/file.txt", "id": "id:iWFsGCmi1sAAAAAAAAAA6A",
        "client_modified": "2018-06-22T14:06:07Z", "server_modified": "2018-06-22T14:06:07Z",
        "rev": "196576c68d6", "size": 13, "content_hash": "6e50b8ff301198b6715ed02ece1ff8a9983c6e9aa71bc561e14e2c514d7868cd"}'
  recorded_at: Fri, 22 Jun 2018 14:06:07 GMT
recorded_with: VCR 3.0.3
