---
http_interactions:
- request:
    method: post
    uri: https://content.dropboxapi.com/2/files/upload
    body:
      encoding: UTF-8
      string: Hello Dropbox!
    headers:
      Authorization:
      - Bearer MOCK_AUTHORIZATION_BEARER
      Dropbox-Api-Arg:
      - '{"path":"/dropbox_api_fixtures/upload/file_27.txt"}'
      Content-Type:
      - application/octet-stream
  response:
    status:
      code: 429
      message: too_many_write_operations/.
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - '1'
      X-Dropbox-Request-Id:
      - c2a497c7c54580bef0fd6ddbc9205e98
    body:
      encoding: UTF-8
      string: '{"error_summary": "too_many_write_operations/.", "error": {"reason":
        {".tag": "too_many_write_operations"}}}'
  recorded_at: Fri, 22 Jun 2018 14:06:12 GMT
[...]
- request:
    method: post
    uri: https://content.dropboxapi.com/2/files/upload
    body:
      encoding: UTF-8
      string: Hello Dropbox!
    headers:
      Authorization:
      - Bearer MOCK_AUTHORIZATION_BEARER
      Dropbox-Api-Arg:
      - '{"path":"/dropbox_api_fixtures/upload/file_1.txt"}'
      Content-Type:
      - application/octet-stream
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Server-Response-Time:
      - '707'
      X-Dropbox-Request-Id:
      - c28534067bf10012f4ed0f3cd4d240f3
    body:
      encoding: ASCII-8BIT
      string: '{"name": "file_1.txt", "path_lower": "/dropbox_api_fixtures/upload/file_1.txt",
        "path_display": "/dropbox_api_fixtures/upload/file_1.txt", "id": "id:iWFsGCmi1sAAAAAAAAAA7A",
        "client_modified": "2018-06-22T14:06:12Z", "server_modified": "2018-06-22T14:06:12Z",
        "rev": "199576c68d6", "size": 14, "content_hash": "16dff8700700b9aa627e24bbf832940c084b41ade5c5d6fe5417963a547ed9c2"}'
  recorded_at: Fri, 22 Jun 2018 14:06:13 GMT
[...]
- request:
    method: post
    uri: https://content.dropboxapi.com/2/files/upload
    body:
      encoding: UTF-8
      string: Hello Dropbox!
    headers:
      Authorization:
      - Bearer MOCK_AUTHORIZATION_BEARER
      Dropbox-Api-Arg:
      - '{"path":"/dropbox_api_fixtures/upload/file_5.txt"}'
      Content-Type:
      - application/octet-stream
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Server-Response-Time:
      - '1881'
      X-Dropbox-Request-Id:
      - d56be9acc8463a186a79adeb908b5208
    body:
      encoding: ASCII-8BIT
      string: '{"name": "file_5.txt", "path_lower": "/dropbox_api_fixtures/upload/file_5.txt",
        "path_display": "/dropbox_api_fixtures/upload/file_5.txt", "id": "id:iWFsGCmi1sAAAAAAAAAA7w",
        "client_modified": "2018-06-22T14:06:13Z", "server_modified": "2018-06-22T14:06:14Z",
        "rev": "19c576c68d6", "size": 14, "content_hash": "16dff8700700b9aa627e24bbf832940c084b41ade5c5d6fe5417963a547ed9c2"}'
  recorded_at: Fri, 22 Jun 2018 14:06:15 GMT
recorded_with: VCR 3.0.3
