---
http_interactions:
- request:
    method: post
    uri: https://content.dropboxapi.com/2/files/upload
    body:
      encoding: UTF-8
      string: Hello Dropbox!
    headers:
      Authorization:
      - Bearer MOCK_AUTHORIZATION_BEARER
      Dropbox-Api-Arg:
      - '{"path":"/dropbox_api_fixtures/upload/file_2.txt"}'
      Content-Type:
      - application/octet-stream
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Server-Response-Time:
      - '853'
      X-Dropbox-Request-Id:
      - b85ca0b4839e8f28f1b578add39d05fe
    body:
      encoding: ASCII-8BIT
      string: '{"name": "file_2.txt", "path_lower": "/dropbox_api_fixtures/upload/file_2.txt",
        "path_display": "/dropbox_api_fixtures/upload/file_2.txt", "id": "id:iWFsGCmi1sAAAAAAAAAAmA",
        "client_modified": "2018-02-13T21:17:03Z", "server_modified": "2018-02-13T21:17:03Z",
        "rev": "11c576c68d6", "size": 14, "content_hash": "16dff8700700b9aa627e24bbf832940c084b41ade5c5d6fe5417963a547ed9c2"}'
  recorded_at: Tue, 13 Feb 2018 21:17:04 GMT
[...]
- request:
    method: post
    uri: https://content.dropboxapi.com/2/files/upload
    body:
      encoding: UTF-8
      string: Hello Dropbox!
    headers:
      Authorization:
      - Bearer MOCK_AUTHORIZATION_BEARER
      Dropbox-Api-Arg:
      - '{"path":"/dropbox_api_fixtures/upload/file_74.txt"}'
      Content-Type:
      - application/octet-stream
  response:
    status:
      code: 429
      message: too_many_write_operations/..
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - '1'
      X-Dropbox-Request-Id:
      - 694291662eb2bc1fd6b5580913539132
    body:
      encoding: UTF-8
      string: '{"error_summary": "too_many_write_operations/..", "error": {"reason":
        {".tag": "too_many_write_operations"}}}'
  recorded_at: Tue, 13 Feb 2018 21:17:04 GMT
[...]
- request:
    method: post
    uri: https://content.dropboxapi.com/2/files/upload
    body:
      encoding: UTF-8
      string: Hello Dropbox!
    headers:
      Authorization:
      - Bearer MOCK_AUTHORIZATION_BEARER
      Dropbox-Api-Arg:
      - '{"path":"/dropbox_api_fixtures/upload/file_35.txt"}'
      Content-Type:
      - application/octet-stream
  response:
    status:
      code: 429
      message: too_many_write_operations/..
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - '1'
      X-Dropbox-Request-Id:
      - be83c4793fe604ca54f1561e9643d4ca
    body:
      encoding: UTF-8
      string: '{"error_summary": "too_many_write_operations/..", "error": {"reason":
        {".tag": "too_many_write_operations"}}}'
  recorded_at: Tue, 13 Feb 2018 21:17:05 GMT
recorded_with: VCR 3.0.3
